absl-py==2.0.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
APScheduler==3.11.0
astroid==3.3.4
async-timeout==5.0.1
asyncpg==0.30.0
attrs==23.1.0
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dill==0.3.8
Eel==0.16.0
exceptiongroup==1.2.2
fastapi==0.115.12
flatbuffers==23.5.26
fonttools==4.44.3
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
h11==0.14.0
idna==3.7
isort==5.13.2
keyboard==0.13.5
kiwisolver==1.4.5
matplotlib==3.8.1
mccabe==0.7.0
mediapipe==0.10.8
MouseInfo==0.1.3
numpy==1.24.4
opencv-contrib-python==4.8.0.74
opencv-python==4.10.0.84
packaging==23.2
pefile==2023.2.7
pillow==10.4.0
platformdirs==4.3.6
protobuf==3.20.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyAutoGUI==0.9.54
pycairo==1.25.0
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.5.2
PyGetWindow==0.0.9
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pylint==3.3.1
PyMsgBox==1.0.9
pynput==1.7.6
pyparsing==3.1.1
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.8.2
pytweening==1.0.7
pywin32-ctypes==0.2.2
requests==2.32.3
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.6
SQLAlchemy==2.0.39
starlette==0.46.1
termcolor==2.5.0
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.2.2
uvicorn==0.34.0
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.4.post2
