.pet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  
    .pet-image {
      width: 200px;
      height: auto;
      transition: opacity 0.5s ease-in-out;
    }
    
    .fade-in {
      opacity: 0;
      animation: fadeIn 0.5s forwards;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
  }