.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
  }
  .status-bars {
    width: 80%;
    max-width: 300px;
  }
  